__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/
ENV/

db.sqlite3
media/
staticfiles/

.env
.env.*

.idea/
.vscode/

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

build/
dist/
*.egg-info/

*.log